
/*  
    Hint: 
    
    Study the sizing units for the elements and positioning also. 
    For the dynamic resizing, "vw" would be useful, but blind-use won't help. 

*/
body{
    background: lightblue;
    background-repeat: no-repeat;
    background-size: cover;

    
    margin: 4vw;

    
}

#header{
    background-color: rgb(184, 180, 180);
    padding: 3vw;
    text-align: center;
    font-size: 1.3vw;
    height: 6em;
    font-family: 'Poiret One';
}

#proPic{
    text-align: left;
    padding-top: 1.4vw;
    padding-left: 4vw;
    height: 1.2em;
    font-family: sans-serif;
    
    
}
#picCaption{
    padding-left: 2.8vw;
}
#proPic img{
    border-radius: 50%;
    border: 5px solid rgb(85, 150, 85);
    
}

#socialMedia{
    font-size: 1vw;
}

#topIcons{
    text-align: right;
    resize: both;
    padding-right: 4.3vw;
    
     
}

#bottomIcons{
    text-align: right;
    resize: both;
    padding-right: 4vw;
}

html { /* necessary for background image to cover page completely */
    height: 100%;
    width: 100%;
}

#projects{
    font-size: 1.4vw;
    padding-top: 6vw;
    padding-left: 6vw;
}
#tok{
    font-weight: bold;
    width: auto;
}

#tokText{
    width: 60%;
    height: 2em;
}

#tokPic{
    text-align: right;
    padding-right: 6vw;
}

#phonebook{
    font-weight: bold;
    width: auto;
    
}

#phoneText{
    width: 60%;
    height: 2em;
}

#phonePic{
    text-align: right;
    padding-right: 6vw;
}

#stocks{
    font-weight: bold;
    width: auto;
}

#stocksText{
    width: 60%;
    height: 2em;
}

#stocksPic{
    text-align: right;
    padding-right: 6vw;
}

#kdTrees{
    font-weight: bold;
    width: auto;
}

#kdText{
    width: 60%;
    height: 2em;
}

#kdPic{
    text-align: right;
    padding-right: 6vw;
}

#scuba{
    font-weight: bold;
    width: auto;
}

#scubaText{
    width: 60%;
    height: 2em;
}

#scubaPic{
    text-align: right;
    padding-right: 6vw;
    
}